p{
    color: red;background-color: brown;
}
h1{
    color: yellowgreen;
}
img{ width: 200px; 
    height: 300px;
display: inline;}
div{ background-color: yellowgreen;
    width: 500;
    height: 300px;

}